/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  background: -webkit-linear-gradient(90deg, #b3e29a, #9cc3f2, #f2a2d7);
  background: linear-gradient(90deg, #b3e29a, #9cc3f2, #f2a2d7);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

#gallery-container {
  position: relative;
  margin-bottom: 100px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.card {
  width: 320px; /* Ancho de la tarjeta */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar el contenido horizontalmente */
  padding: 20px; /* Agregar espacio interior para mejorar la apariencia */
}

.card img {
  width: 100%; /* Ancho de la imagen es el 100% del ancho del contenedor */
  height: 100%; /* Alto de la imagen es el 100% del alto del contenedor */
  object-fit: cover; /* Ajustar la imagen para cubrir completamente el contenedor */
  transition: transform 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
}

#button-container {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

#addImageBtn {
  padding: 10px 20px;
  background-color: #ff69b4;
  color: #000;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addImageBtn:hover {
  background-color: #ff4f91;
}

.message-card {
  width: 100%; /* Asegurar que ocupe todo el ancho del contenedor .card */
  margin-top: 20px; /* Agregar un espacio entre la tarjeta y el mensaje final */
  text-align: center; /* Centrar el texto */
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  text-align: justify;
  background: linear-gradient(45deg, #fff4e3, #f9e087, #fadc6c, #f7ec39, #ffffff); /* Gradiente con tonalidades amarillas más suaves */
  color: #333; /* Color del texto para que sea muy legible */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Agregar espacio interior para mejorar la apariencia */
}

/* Responsividad */
