/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  background: -webkit-linear-gradient(90deg, #b3e29a, #9cc3f2, #f2a2d7);
  background: linear-gradient(90deg, #b3e29a, #9cc3f2, #f2a2d7);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

#gallery-container {
  position: relative;
  margin-bottom: 100px;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.card {
  width: 320px; /* Ancho de la tarjeta */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar el contenido horizontalmente */
  padding: 20px; /* Agregar espacio interior para mejorar la apariencia */
}

.card img {
  width: 100%; /* Ancho de la imagen es el 100% del ancho del contenedor */
  height: 100%; /* Alto de la imagen es el 100% del alto del contenedor */
  object-fit: cover; /* Ajustar la imagen para cubrir completamente el contenedor */
  transition: transform 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
}

#button-container {
  position: fixed;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
}

#addImageBtn {
  padding: 10px 20px;
  background-color: #ff69b4;
  color: #000;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#addImageBtn:hover {
  background-color: #ff4f91;
}

.message-card {
  width: 100%; /* Asegurar que ocupe todo el ancho del contenedor .card */
  margin-top: 20px; /* Agregar un espacio entre la tarjeta y el mensaje final */
  text-align: center; /* Centrar el texto */
  font-family: 'Times New Roman', serif;
  font-size: 18px;
  text-align: justify;
  background: linear-gradient(45deg, #fff4e3, #f9e087, #fadc6c, #f7ec39, #ffffff); /* Gradiente con tonalidades amarillas más suaves */
  color: #333; /* Color del texto para que sea muy legible */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Agregar espacio interior para mejorar la apariencia */
}

#instructions {
  background: linear-gradient(45deg, #fff4e3, #f9e087, #fadc6c, #f7ec39, #ffffff); 
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

#instructions h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Times New Roman', serif;
}

#instructions p {
  color: #555;
  font-size: 16px;
  margin-bottom: 10px;
}

#instructions.hidden {
  display: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .card {
    width: 100%; /* Tarjetas ocupan todo el ancho */
    margin-bottom: 10px; /* Espacio inferior reducido */
  }

  .message-card {
    margin-top: 10px; /* Espacio superior reducido */
    font-size: 16px; /* Tamaño de fuente más pequeño */
  }

  #button-container {
    bottom: 20px; /* Posición del botón ajustada */
  }

  #instructions {
    padding: 10px; /* Espacio interior reducido */
    margin: 10px;
  }

  #instructions h2 {
    font-size: 18px; /* Tamaño de fuente del encabezado reducido */
  }

  #instructions p {
    font-size: 14px; /* Tamaño de fuente del párrafo reducido */
    margin-bottom: 5px; /* Espacio inferior reducido */
  }
}

/* Estilos para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 45%; /* Ancho de la tarjeta ajustado */
    margin-bottom: 15px; /* Espacio inferior ligeramente reducido */
  }

  .message-card {
    margin-top: 15px; /* Espacio superior ligeramente reducido */
  }

  #button-container {
    bottom: 50px; /* Posición del botón ajustada */
  }

  #instructions {
    padding: 15px; /* Espacio interior ajustado */
    margin: 15px;
  }

  #instructions h2 {
    font-size: 20px; /* Tamaño de fuente del encabezado ajustado */
  }

  #instructions p {
    font-size: 16px; /* Tamaño de fuente del párrafo ajustado */
  }
}

/* Estilos para dispositivos de escritorio */
@media (min-width: 1025px) {
  .card {
    width: 320px; /* Ancho de la tarjeta original */
    margin-bottom: 20px; /* Espacio inferior normal */
  }

  .message-card {
    margin-top: 20px; /* Espacio superior normal */
  }

  #button-container {
    bottom: 70px; /* Posición del botón original */
  }

  #instructions {
    padding: 20px; /* Espacio interior original */
    margin: 20px;
  }

  #instructions h2 {
    font-size: 20px; /* Tamaño de fuente del encabezado original */
  }

  #instructions p {
    font-size: 16px; /* Tamaño de fuente del párrafo original */
    margin-bottom: 10px; /* Espacio inferior normal */
  }
}
